//  1 + ((z-transform * -1) / perspective)
:root{
    --bck-grnd-clr: rgb(24, 24, 25);
    --primary-clr: aliceblue;
    --hover-clr: aqua;
    --timing-func: 300ms;
}

@mixin flx-center($justify-content: center, $align-items: center) {
    display: flex;
    justify-content: $justify-content;
    align-items: $align-items;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    overflow: hidden;

    font: {
        size: 16px;
        family: 'Lato', sans-serif;
    }
}

body {
    background-color: var(--bck-grnd-clr);
    color: var(--primary-clr);

    // parallax-for-scroll
    height: 100vh;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-x: hidden;
    overflow-y: auto;
}



.navbar {
    text-align: center;
    position: relative;
    height: 4vh;
    background-color: var(--bck-grnd-clr);
    z-index: 1;
}

.parallax-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;

    // parallax
    transform-style: preserve-3d;
}

.regular-wrapper {
    width: 100vw;
    height: 100vh;
    padding-top: 20vh;
    background-image: url("../resourses/images/dark-artsy.jpg");

    // parallax
    position: relative;
    z-index: 2;
}

.content {
    margin: 0 auto;
    padding: 50px;
    width: 50%;
    background: #aaa;
}

.parallax-wrapper::before {
    content: "";
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-image: url("../resourses/images/forest.jpg");
    position: absolute;

    // parallax
    transform: translateZ(-1px) scale(2);
    // z-index: -1;
}
